<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="../vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Base">
            <file>Units/Session/SessionTest.php</file>
        </testsuite>

        <testsuite name="Components">
            <file>Units/Components/ModelTest.php</file>
        </testsuite>

        <testsuite name="Models">
            <file>Units/Models/ModelsTest.php</file>
        </testsuite>

        <testsuite name="CampaignExamples">
            <file>Examples/Campaigns/CreateExamplesTest.php</file>
            <file>Examples/Campaigns/SelectionExamplesTest.php</file>
            <file>Examples/Campaigns/ActionsExamplesTest.php</file>
            <file>Examples/Campaigns/RelatedExamplesTest.php</file>
            <file>Examples/Campaigns/UpdateExamplesTest.php</file>
            <file>Examples/Campaigns/DeleteExamplesTest.php</file>
        </testsuite>

        <testsuite name="AdGroupExamples">
            <file>Examples/AdGroups/CreateExamplesTest.php</file>
            <file>Examples/AdGroups/SelectionExamplesTest.php</file>
            <file>Examples/AdGroups/RelatedExamplesTest.php</file>
            <file>Examples/AdGroups/UpdateExamplesTest.php</file>
            <file>Examples/AdGroups/DeleteExamplesTest.php</file>
        </testsuite>

        <testsuite name="AdsExamples">
            <file>Examples/Ads/CreateExamplesTest.php</file>
            <file>Examples/Ads/ActionsExamplesTest.php</file>
            <file>Examples/Ads/SelectionExamplesTest.php</file>
            <file>Examples/Ads/UpdateExamplesTest.php</file>
            <file>Examples/Ads/DeleteExamplesTest.php</file>
        </testsuite>

        <testsuite name="KeywordsExamples">
            <file>Examples/Keywords/CreateExamplesTest.php</file>
            <file>Examples/Keywords/ActionsExamplesTest.php</file>
            <file>Examples/Keywords/SelectionExamplesTest.php</file>
            <file>Examples/Keywords/RelatedExamplesTest.php</file>
            <file>Examples/Keywords/UpdateExamplesTest.php</file>
            <file>Examples/Keywords/DeleteExamplesTest.php</file>
        </testsuite>

        <testsuite name="BidsExamples">
            <file>Examples/Bids/ExamplesTest.php</file>
        </testsuite>

        <testsuite name="BidModifiersExamples">
            <file>Examples/BidModifiers/ExamplesTest.php</file>
        </testsuite>

        <testsuite name="KeywordBidsExamples">
            <file>Examples/KeywordBids/ExamplesTest.php</file>
        </testsuite>

        <testsuite name="WebpagesExamples">
            <file>Examples/Webpages/ExamplesTest.php</file>
        </testsuite>

        <testsuite name="AudienceTargetsExamples">
            <file>Examples/AudienceTargets/ExamplesTest.php</file>
        </testsuite>

        <testsuite name="ClientsExamples">
            <file>Examples/AgencyClients/ExamplesTest.php</file>
            <file>Examples/Clients/ExamplesTest.php</file>
        </testsuite>

    </testsuites>
</phpunit>