<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="../vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Base">
            <file>Units/Session/SessionTest.php</file>
        </testsuite>

        <testsuite name="Components">
            <file>Units/Components/ModelTest.php</file>
        </testsuite>

        <testsuite name="Models">
            <file>Units/Models/ModelsTest.php</file>
        </testsuite>

        <testsuite name="Examples">
            <file>Examples/Campaigns/ModelExamplesTest.php</file>
            <file>Examples/AdGroups/ModelExamplesTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>